h1 a {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-style: normal; 
  font-weight: light;
}

body {
  width: 90%;
}

.buttons {
  width: 100%;
  padding-bottom: 10px;
  display: inline-block;
  border: 1px solid black;
  
  button {
    border: 1px solid black;
    background-color: white;
    color: black;
  }
}

#pinkScheme {
  float: left;
  margin-right: 25%;
}
  
#blueScheme {
  float: right;
  margin-left: 25%;
}

.squares div {
  text-align: center;
}

.pink {
  width: 100%;
  
  div {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    margin: 5px;
    display: inline-block;
  }
  
  #one {
    background-color: mistyrose;
  }

  #two {
    background-color: snow;
  }

  #three {
    background-color: oldlace;
  }

  #four {
    background-color: lavenderblush;
  }

  #five {
    background-color: linen;
  }
}


.blue {
  width: 100%;
  
  div {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    margin: 5px;
    display: inline-block;
  }
  
  #one {
    background-color: powderblue;
  }

  #two {
    background-color: azure;
  }

  #three {
    background-color: beige;
  }

  #four {
    background-color: darkturquoise;
  }

  #five {
    background-color: linen;
  }
}
