h1 {  
  background-color: black;
  a {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-style: normal; 
    font-weight: light;
  }
}

body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.buttons {
  width: 100%;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  button {
    border: 1px solid black;
    background-color: white;
    color: black;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.textInput { 
  vertical-align: top;
  margin: 0 auto;
  h4,input { 
    display: inline-block;
    vertical-align: top;
    margin: 5px auto;
  } 
}

.squares {
  div {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  }
  
  div {
    .color {
      margin: 0 auto;
      display: inline-block;
      border: 1px solid black;
    }
  }
}

.pink {
  width: 100%;
  .one {
    background-color: mistyrose;
  }
  .two {
    background-color: snow;
  }
  .three {
    background-color: oldlace;
  }
  .four {
    background-color: lavenderblush;
  }
  .five {
    background-color: linen;
  }
}


.blue {
  width: 100%;
  .one {
    background-color: powderblue;
  }
  .two {
    background-color: azure;
  }
  .three {
    background-color: floralwhite;
  }
  .four {
    background-color: darkturquoise;
  }
  .five {
    background-color: linen;
  }
}

.custom {
  width: 100%;
  .one {
    background-color: none;
  }
  .two {
    background-color: none;
  }
  .three {
    background-color: none;
  }
  .four {
    background-color: none;
  }
  .five {
    background-color: none;
  }
}

.dropdown {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.dropdown-contents {
  visibility: hidden;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  max-height: 250px;
  overflow: auto;
  button {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background-color: white;
    display: block;
    padding: 1px;
    margin: 0 auto;
    width: 100%;
    font-size: 10px;
  }
}

.block {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  #color1,#color2,#color3,#color4,#color5 {
     height: 100px;
     width: 100px;
     border-radius: 10%;
     margin: 5px auto;
  }
}

.reference-color-buttons {
  button {
    background-color: black;
    color: white;
  }
}

.reference-container {
  border-top: 1px solid black;
  padding-top: 10px;
  min-height: 500px;

  .reference-colors {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    text-shadow: 1px 1px white;
  }
    #AliceBlue { background-color: AliceBlue; }
    #AntiqueWhite { background-color: AntiqueWhite; }
    #Aqua { background-color: Aqua; }
    #Aquamarine { background-color: Aquamarine; }
    #Azure { background-color: Azure; }
    #Beige { background-color: Beige; }
    #Bisque { background-color: Bisque; }
    #Black { background-color: Black; }
    #BlanchedAlmond { background-color: BlanchedAlmond; }
    #Blue { background-color: Blue; }
    #BlueViolet { background-color: BlueViolet; }
    #Brown { background-color: Brown; }
    #BurlyWood { background-color: BurlyWood; }
    #CadetBlue { background-color: CadetBlue; }
    #Chartreuse { background-color: Chartreuse; }
    #Chocolate { background-color: Chocolate; }
    #Coral { background-color: Coral; }
    #CornflowerBlue { background-color: CornflowerBlue; }
    #Cornsilk { background-color: Cornsilk; }
    #Crimson { background-color: Crimson; }
    #Cyan { background-color: Cyan; }
    #DarkBlue { background-color: DarkBlue; }
    #DarkCyan { background-color: DarkCyan; }
    #DarkGoldenRod { background-color: DarkGoldenRod; }
    #DarkGray { background-color: DarkGray; }
    #DarkGrey { background-color: DarkGrey; }
    #DarkGreen { background-color: DarkGreen; }
    #DarkKhaki { background-color: DarkKhaki; }
    #DarkMagenta { background-color: DarkMagenta; }
    #DarkOliveGreen { background-color: DarkOliveGreen; }
    #Darkorange { background-color: Darkorange; }
    #DarkOrchid { background-color: DarkOrchid; }
    #DarkRed { background-color: DarkRed; }
    #DarkSalmon { background-color: DarkSalmon; }
    #DarkSeaGreen { background-color: DarkSeaGreen; }
    #DarkSlateBlue { background-color: DarkSlateBlue; }
    #DarkSlateGray { background-color: DarkSlateGray; }
    #DarkSlateGrey { background-color: DarkSlateGrey; }
    #DarkTurquoise { background-color: DarkTurquoise; }
    #DarkViolet { background-color: DarkViolet; }
    #DeepPink { background-color: DeepPink; }
    #DeepSkyBlue { background-color: DeepSkyBlue; }
    #DimGray { background-color: DimGray; }
    #DimGrey { background-color: DimGrey; }
    #DodgerBlue { background-color: DodgerBlue; }
    #FireBrick { background-color: FireBrick; }
    #FloralWhite { background-color: FloralWhite; }
    #ForestGreen { background-color: ForestGreen; }
    #Fuchsia { background-color: Fuchsia; }
    #Gainsboro { background-color: Gainsboro; }
    #GhostWhite { background-color: GhostWhite; }
    #Gold { background-color: Gold; }
    #GoldenRod { background-color: GoldenRod; }
    #Gray { background-color: Gray; }
    #Grey { background-color: Grey; }
    #Green { background-color: Green; }
    #GreenYellow { background-color: GreenYellow; }
    #HoneyDew { background-color: HoneyDew; }
    #HotPink { background-color: HotPink; }
    #IndianRed { background-color: IndianRed; }
    #Indigo { background-color: Indigo; }
    #Ivory { background-color: Ivory; }
    #Khaki { background-color: Khaki; }
    #Lavender { background-color: Lavender; }
    #LavenderBlush { background-color: LavenderBlush; }
    #LawnGreen { background-color: LawnGreen; }
    #LemonChiffon { background-color: LemonChiffon; }
    #LightBlue { background-color: LightBlue; }
    #LightCoral { background-color: LightCoral; }
    #LightCyan { background-color: LightCyan; }
    #LightGoldenRodYellow { background-color: LightGoldenRodYellow; }
    #LightGray { background-color: LightGray; }
    #LightGrey { background-color: LightGrey; }
    #LightGreen { background-color: LightGreen; }
    #LightPink { background-color: LightPink; }
    #LightSalmon { background-color: LightSalmon; }
    #LightSeaGreen { background-color: LightSeaGreen; }
    #LightSkyBlue { background-color: LightSkyBlue; }
    #LightSlateGray { background-color: LightSlateGray; }
    #LightSlateGrey { background-color: LightSlateGrey; }
    #LightSteelBlue { background-color: LightSteelBlue; }
    #LightYellow { background-color: LightYellow; }
    #Lime { background-color: Lime; }
    #LimeGreen { background-color: LimeGreen; }
    #Linen { background-color: Linen; }
    #Magenta { background-color: Magenta; }
    #Maroon { background-color: Maroon; }
    #MediumAquaMarine { background-color: MediumAquaMarine; }
    #MediumBlue { background-color: MediumBlue; }
    #MediumOrchid { background-color: MediumOrchid; }
    #MediumPurple { background-color: MediumPurple; }
    #MediumSeaGreen { background-color: MediumSeaGreen; }
    #MediumSlateBlue { background-color: MediumSlateBlue; }
    #MediumSpringGreen { background-color: MediumSpringGreen; }
    #MediumTurquoise { background-color: MediumTurquoise; }
    #MediumVioletRed { background-color: MediumVioletRed; }
    #MidnightBlue { background-color: MidnightBlue; }
    #MintCream { background-color: MintCream; }
    #MistyRose { background-color: MistyRose; }
    #Moccasin { background-color: Moccasin; }
    #NavajoWhite { background-color: NavajoWhite; }
    #Navy { background-color: Navy; }
    #OldLace { background-color: OldLace; }
    #Olive { background-color: Olive; }
    #OliveDrab { background-color: OliveDrab; }
    #Orange { background-color: Orange; }
    #OrangeRed { background-color: OrangeRed; }
    #Orchid { background-color: Orchid; }
    #PaleGoldenRod { background-color: PaleGoldenRod; }
    #PaleGreen { background-color: PaleGreen; }
    #PaleTurquoise { background-color: PaleTurquoise; }
    #PaleVioletRed { background-color: PaleVioletRed; }
    #PapayaWhip { background-color: PapayaWhip; }
    #PeachPuff { background-color: PeachPuff; }
    #Peru { background-color: Peru; }
    #Pink { background-color: Pink; }
    #Plum { background-color: Plum; }
    #PowderBlue { background-color: PowderBlue; }
    #Purple { background-color: Purple; }
    #Red { background-color: Red; }
    #RosyBrown { background-color: RosyBrown; }
    #RoyalBlue { background-color: RoyalBlue; }
    #SaddleBrown { background-color: SaddleBrown; }
    #Salmon { background-color: Salmon; }
    #SandyBrown { background-color: SandyBrown; }
    #SeaGreen { background-color: SeaGreen; }
    #SeaShell { background-color: SeaShell; }
    #Sienna { background-color: Sienna; }
    #Silver { background-color: Silver; }
    #SkyBlue { background-color: SkyBlue; }
    #SlateBlue { background-color: SlateBlue; }
    #SlateGray { background-color: SlateGray; }
    #SlateGrey { background-color: SlateGrey; }
    #Snow { background-color: Snow; }
    #SpringGreen { background-color: SpringGreen; }
    #SteelBlue { background-color: SteelBlue; }
    #Tan { background-color: Tan; }
    #Teal { background-color: Teal; }
    #Thistle { background-color: Thistle; }
    #Tomato { background-color: Tomato; }
    #Turquoise { background-color: Turquoise; }
    #Violet { background-color: Violet; }
    #Wheat { background-color: Wheat; }
    #White { background-color: White; }
    #WhiteSmoke { background-color: WhiteSmoke; }
    #Yellow { background-color: Yellow; }
    #YellowGreen { background-color: YellowGreen; }
}
