* {
    font-family: TimesNewRoman, serif;
    font-color: black;
    font-size: 12px;
}

.navigation {
    display: inline-block;
    align: center;
    position: relative;
    display: inline-block;
}

.blocks {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: LightSalmon;
    display: inline-block;
    position: relative;
    padding: 5px;
}
