---
---
body {
  margin: 0 50px;
  background-color: black;
  color: white;
  font-family: consolas;
}

.highlight {
  background: cyan;
  color: black;
}

#source {
  border: 1px solid black;
  height: 420px;
  width: 300px;
  padding: 10px;
  background-color: slategrey;
}

#search {
  padding: 10px 0px 415px 10px;
  background-color: slategrey;
  border: 1px solid black;
  width: 100%;
  color: rgb(110, 255, 243);
  font-family: consolas;
}

.container {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

p {
  text-align: center;
}
