---
---
body {
  margin: 0 50px;
  background-color: black;
  color: white;
  font-family: consolas;
  text-decoration: none;
}

.highlight {
  background: cyan;
  color: black;
}

.title {
 background-color: #383838;
  margin: 20px 0 0 0;
}

#source {
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
  padding: 10px 0;
  background-color: dimgrey;
}

#search {
  padding: 10px 0;
  background-color: dimgrey;
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
  color: greenyellow;
  font-family: consolas;
}

.container {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 0 10px;
}

.match-count {
  float: left;
  p {
   display: inline-block; 
  }
}

#swap {
  display: inline-block;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  border-radius: 100%;
  margin-top: 20px;
}

p {
  text-align: center;
}

#compare {
  padding: 10px 20px;
  margin: 10px 0;
  float: right;
  background-color: #00BCD4;
  color: white;
  border: none;
}
