---
---
* {
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  background-image: url("https://static.pexels.com/photos/1936/airplane-jet-aviation-aircraft.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}

.overlay {
  opacity: 0.6;
  z-index: -1;
  background: #131313;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
}
  
#home-title {
  font-size: 1000%;
  width: 100%;
  text-align: center;
  padding-top: 300px;
}
   
#home-description {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  right: 30px;
  width: 100%;
  display: inline;
  
  ul {
    float: right;
    a {
      text-decoration: none;
      margin: 0px 10px;
      }
  }
  
  li {
    list-style: none;
    font-size: 15px;
    display: inline-block;
    padding: 10px 20px;
  }
}

.subtitle {
  font-size: 50px;
  height: 70%;
  width: 18%;
  min-width: 195px;
  position: fixed;
  top: 170px;
  border-right: 1px white solid;
  text-align: center;
}

#side-navbar {
    ul {
      list-style: none;
      text-align: left;
      padding-left: 20px;
      a { 
        text-decoration: none; 
        color: white;
        li {
         padding: 10px 5px;
         font-size: 20px;
         max-width: 200px;
          min-width: 170px;
         }
      }
    }
  }

.subtitle, .body-text, .id-card {
  display: inline-block;
  vertical-align:top;
}

.body-text {
  margin-top: 250px;
  font-size: 20px;
  margin-left: 20%;
  overflow: auto;
  padding-left: 10px;
}

#about-pic {
  height: 150px;
  width: 150px;
  background-image: url("https://placekitten.com/g/150/150");
  border-radius: 100%;
  margin: 0 auto;
}

.id-card {
  position: fixed;
  left: 10px;
  top: 300px;
  width: 18%;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
}

.info-body {
 text-align: left;
 //border-top: 1px solid white;
}

h1 {
 font-size: 50px;
 border-bottom: 1px solid white;
 padding-bottom: 10px;
}

.info-block {
  //border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 500px;
  min-height: 100%;
  height: 100%;
  padding-bottom: 20px;
 }

#programming, #software, #lab, #other {
 display: inline-grid;
 vertical-align: top;
}

 #top {
    text-align: center;
    height: 70px;
    width: 70px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 1;
  }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

//for screens less than 1580px width
@media only screen and (max-width: 1580px) {
  #side-navbar ul{
    padding-left: 80px;
  }
}

//for screens less than 1100px width
@media only screen and (max-width: 1100px) {
  .navbar {
    display: inline;
  }
  #side-navbar { 
    display: none;
  }
  .subtitle {
    position: static;
    height: auto;
    border-right: none;
    margin-top: 100px;
    margin-left: 0%;
    width: 100%;
    text-align: center;
  }
  .info-block {
    margin-bottom: 150px;
  }
  .body-text {
    margin: 50px 0;
  }
}

.mini-navbar {
  visibility: hidden;
  width: 100%;
  height: 71px;
  position: fixed;
  top: 0px;
  left: 0px;
  .menu-button-container {
    height: 100%;
    .menu-button {
      z-index: 2;
      padding: 12px 18px 24px 18px;
      height: 35px;
      width: 35px;
      div {
        float: left;
        width: 35px;
        height: 1px;
        border-bottom: 1px solid white;
        padding: 5px 0;
        display: block;
      }
    }
  }
}

.menu-button-container {
  height: 425px;
  width: 220px;
}
.navbar2 {
    position: fixed;
    left: 0px;
    display: none;
    width: 220px;
    margin: 0;
    top: 55px;
    ul {
      float: left;
      background-color: black;
      padding: 10px 20px;
      a {
         text-decoration: none;
         margin: 0 10px;
         li {
          display: block; 
          list-style: none;
          font-size: 20px;
          padding: 10px 40px;
        }
      }
    }
  }

//for screens less than 665px width
@media only screen and (max-width: 665px) {
  .body-text {
    margin: 50px 0;
  }
  .subtitle {
    margin-top: 10px;
    font-size: 30px;
  }
  .navbar {
   display: none; 
  }
  .mini-navbar {
    visibility: visible;
  }
  
}
