---
---
* {
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  background-image: url("https://static.pexels.com/photos/1936/airplane-jet-aviation-aircraft.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}

.overlay {
  opacity: 0.6;
  z-index: -1;
  background: #131313;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  right: 30px;
  width: 100%;
  display: inline;
  z-index: 5;
  
  ul {
    float: right;
    a {
      text-decoration: none;
      margin: 0px 10px;
      }
  }
  
  li {
    list-style: none;
    font-size: 15px;
    display: inline-block;
    padding: 10px 20px;
  }
}

.subtitle {
  font-size: 50px;
  height: 70%;
  width: 18%;
  min-width: 195px;
  position: fixed;
  top: 170px;
  border-right: 1px white solid;
  text-align: center;
}

.subtitle, .body-text, .id-card {
  display: inline-block;
  vertical-align:top;
}

.body-text {
  margin: 250px 20%;
  font-size: 20px;
  overflow: auto;
  padding-left: 10px;
}
  
//home page
#home-title {
  font-size: 1000%;
  width: 100%;
  text-align: center;
  padding-top: 300px;
}
   
#home-description {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

//about page
#about-pic {
  height: 150px;
  width: 150px;
  background-image: url("https://placekitten.com/g/150/150");
  border-radius: 100%;
  margin: 0 auto;
}

.id-card {
  position: fixed;
  left: 10px;
  top: 300px;
  width: 18%;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  display: inline;
  #quick-facts {
    margin: 0;
    padding: 0 10px;
  }
}

//resume page
#side-navbar {
    ul {
      list-style: none;
      text-align: left;
      padding-left: 40px;
      a { 
        text-decoration: none; 
        color: white;
        li {
         padding: 10px;
         font-size: 20px;
         width: 170px;
         }
      }
    }
  }

.info-body {
 text-align: left;
 //border-top: 1px solid white;
}

h1 {
 font-size: 50px;
 border-bottom: 1px solid white;
 padding-bottom: 10px;
}

.info-block {
  //border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 500px;
  min-height: 100%;
  height: 100%;
  padding-bottom: 20px;
 }

#programming, #software, #lab, #other {
 display: inline-grid;
 vertical-align: top;
}

//projects page
.accordion-title {
  padding: 20px;
  text-align: left;
  background-color: rgb(100, 160, 162);
  color: white;
}

button.accordion {
  width: 100%;
  cursor: pointer;
  text-align: left;
  border: none;
  color: white;
  background-color: rgba(150, 150, 150, 0.26);
  padding: 10px 20px;
  transition: 0.4s;
  outline: none;
  font-size: 20px;
}

button.accordion.active, button.accordion:hover {
    background-color: rgba(255, 255, 255, 0.39);
    color: white;
}

button.accordion::after {
  content: '+';
  float: right;
}
button.accordion.active::after {
    content: "-";
  }

.accordion-panel {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  padding-left: 20px;
}

//all
 #top {
    cursor: pointer;
    display: inline;
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    position: fixed;
    bottom: 10px; 
    right: 10px;
    z-index: 1;
    a h2 {
      margin-top: 9px;
   }
  }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  z-index: -1;
}

//for screens greater than 1580px width
@media only screen and (min-width: 1580px) {
  #side-navbar ul{
    padding-left: 80px;
  }
}

//for screens less than 1380px width
@media only screen and (max-width: 1380px) {
  button.accordion::after {
    padding-right: 0%;
  }
  .navbar {
    display: inline;
  }
  #side-navbar { 
    display: none;
  }
  .subtitle {
    position: static;
    height: auto;
    border-right: none;
    margin-top: 100px;
    margin-left: 0%;
    width: 100%;
    text-align: center;
  }
  .info-block {
    margin-bottom: 150px;
    text-align: left;
    vertical-align: top;
    margin-left: 20px
  }
  .body-text {
    margin: 50px 60px 0 0;
  }
  .id-card {
    width: 100%;
    position: static;
    #about-pic {
     display: inline-block; 
    }
     #quick-facts {
       display: inline-block;
       text-align: left;
       vertical-align: top;
       margin-left: 20px;
     }
  }
}

.mini-navbar {
  z-index: 5;
  visibility: hidden;
  width: 100%;
  height: 71px;
  position: fixed;
  top: 0px;
  left: 0px;
  .menu-button-container {
    height: 100%;
    .menu-button {
      cursor: pointer;
      z-index: 2;
      padding: 12px 18px 24px 18px;
      height: 35px;
      width: 35px;
      div {
        float: left;
        width: 35px;
        height: 1px;
        border-bottom: 1px solid white;
        padding: 5px 0;
        display: block;
      }
    }
  }
}

.menu-button-container {
  height: 425px;
  width: 220px;
}
.navbar2 {
    position: fixed;
    left: 0px;
    display: none;
    width: 220px;
    margin: 0;
    top: 55px;
    ul {
      float: left;
      background-color: black;
      padding: 10px 20px;
      a {
         text-decoration: none;
         margin: 0 10px;
         li {
          display: block; 
          list-style: none;
          font-size: 20px;
          padding: 10px 40px;
        }
      }
    }
  }

//for screens less than 768px width
@media only screen and (max-width: 768px) {
  .body-text {
    margin: 50px 60px 0 0;
  }
  .subtitle {
    margin-top: 10px;
    font-size: 30px;
  }
  .navbar {
   display: none; 
  }
  .mini-navbar {
    visibility: visible;
  }
  #home-title {
    font-size: 800%;
  }
}

//for mobile devices smaller than 768px width
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .body-text {
    margin: 50px 17%;
    font-size: 40px;
  }
  button.accordion {
    font-size: 40px;
  }
  .mini-navbar {
    height: 140px;
    .menu-button-container {
      .navbar2 {
        top: 125px;
        ul a li {
         font-size: 60px; 
        }
      }
      .menu-button {
        padding: 24px 36px 48px 36px;
        height: 70px;
        width: 70px;
        div {
          width: 70px;
          padding: 10px 0;
        }
      }
    }
  }
  .subtitle {
    font-size: 60px;
    margin-top: 20px;
  }
  #top {
    display: none;
  }
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 3em;
  }
  p, li {
    font-size: 40px;
  }
  h3 {
    font-size: 50px;
  }
  .navbar {
   display: none; 
  }
  .mini-navbar {
    visibility: visible;
  }
  #home-title {
    padding-top: 600px;
  }
}
