---
---
* {
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  background-image: url("https://static.pexels.com/photos/1936/airplane-jet-aviation-aircraft.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}

.overlay {
  opacity: 0.6;
  z-index: -1;
  background: #131313;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
}
  
#home-title {
  font-size: 130px;
  margin-top: 25%;
  margin-left: 20%
}
   
#home-description {
  font-size: 20px;
  margin: 0 32%;
}

.navbar {
  position: fixed;
  top: 10px;
  margin: 0 auto;
  right: 30px;
  
  ul a {
    text-decoration: none;
    margin: 0px 10px;
  }
  
  li {
    list-syle: none;
    font-size: 23px;
    display: inline-block;
    padding: 10px 20px;
  }
}

.subtitle {
  margin-top: 200px;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 20px;
  height: 70%;
  position: fixed;
  border-right: 1px solid white;
  min-width: 200px;
}

.subtitle, .body-text, .id-card {
  display: inline-block;
  vertical-align:top;
}

.body-text {
  margin-top: 200px;
  font-size: 20px;
  margin-left: 250px;
  overflow: auto;
}

#about-pic {
  height: 150px;
  width: 150px;
  background-image: url("https://placekitten.com/150/150");
}

.id-card {
  position: fixed;
  right: 10px;
  margin-top: 15%;
  top: 0;
  width: 18%;
}

 #top {
    text-align: center;
    height: 70px;
    width: 70px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 1;
  }

footer {
  position: absolute;
  bottom: 0px;
  margin: 0 32%
}
