---
---

@import "{{ site.theme }}";

* {
  font-family: TimesNewRoman, serif;
  font-size: 12px;
  background-color: LightYellow;
  
  }


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "syntax-highlighting";
