---
---
* {
 font-family: Roboto, Helvetica, sans-serif; 
}

html {
 background-image: url("https://cdn.pixabay.com/photo/2013/11/12/19/57/toothed-belt-drive-209677_960_720.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

#name {
  margin-top: 150px;
  padding-bottom: 150px;
}

#description {
 margin-bottom: 200px;
}

#information, #navbar {
  display: inline-block;
}

.info-body {
 text-align: left;
}

#information {
  border: 1px solid black;
  width: 70%;
  text-align: center;
  float: left;
 opacity: 0.5;
 
 .info-block {
  border: 1px solid black;
  margin-bottom: 300px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100%;
  height: 100%;
 }
}

#programming, #software {
 display: inline-block;
 vertical-align: top;
}

#navbar {
  border: 1px solid black;
  position: fixed;
  width: 30%;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  ul {
    list-style: none;
     a { 
      text-decoration: none; 
      color: black;
      li {
       padding: 20px;
       font-size: 40px;
       }
     }
  }
  
  #top button {
    border: 0px solid black;
    background-color: white;
    float: right;
  }
}
