---
---

@import "{{ site.theme }}";

* {
  font-family: 'Quicksand', 'Helvetica', serif;

  }
body {
  margin: 5%;
}

div {
    background-color: lightsalmon;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    margin: 5px;
    display: inline;
}





// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "syntax-highlighting";
