---
---
* {
 font-family: Roboto, Helvetica, sans-serif; 
}

#name {
  font-size: 20px;
  font-style: bold;
  margin-top: 300px;
  margin-bottom: 300px
}

#information, #navbar {
  display: inline-block;
}

#information {
  border: 1px solid black;
  width: 70%;
  text-align: center;
  float: left;
 
 .info-block {
  border: 1px solid black;
  margin-bottom: 300px;
 }
}

#navbar {
  border: 1px solid black;
  position: fixed;
  width:30%;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  
  ul {
    list-style: none;
    li {
     padding: 100px;
     a { 
      text-decoration: none; 
     }
    }
  }
  
  #top a {
    border: 0px solid black;
    background-color: white;
    float: right;
  }
}
